*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--color-gray-super-light);
  color: var(--color-black333);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

a,
a:active,
a:hover,
a:focus {
  color: #4b3589;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
}

h1,.h1 {
  font-size: 42px;
}

h2,.h2 {
  font-size: 34px;
}

h3,.h3 {
  font-size: 28px;
}

h4,.h4 {
  font-size: 24px;
}

h5,.h5 {
  font-size: 18px;
}

h6,.h6 {
  font-size: 14px;
}

@media (min-width: 1200px) {

  .container {
    width: 1200px;
  }

}
@media (min-width: 992px) {

  .container {
    width: 970px;
  }

}
@media (min-width: 768px) {

  .container {
    width: 750px;
  }

}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px
}

.container:before,.container:after {
  content: " ";
  display: table
}

.container:after {
  clear: both
}

@media (min-width: 768px) {
  .container {
      width:750px
  }
}

@media (min-width: 992px) {

  .container {
      width:970px
  }

}

@media (min-width: 1200px) {

  .container {
      width:1200px
  }

}

.text-center {
  text-align: center;
}
