
* {
  margin-top: 0;
}

html,
body {
  background: var(--color-white);
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

img {
  height: inherit;
  max-width: 100%;
}

/**/

.row:before,
.row:after {
  content: " ";
  display: table;
}

/**/

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  min-width: 220px;
}

.col-1 {
  width: calc(100% * (1 / 12));
}

.col-2 {
  width: calc(100% * (2 / 12));
}

.col-3 {
  width: calc(100% * (3 / 12));
}

.col-4 {
  float: left;
  width: calc(100% * (4 / 12));
}

.col-5 {
  width: calc(100% * (5 / 12));
}

.col-6 {
  width: calc(100% * (6 / 12));
}

.col-7 {
  width: calc(100% * (7 / 12));
}

.col-8 {
  width: calc(100% * (7 / 12));
}

.col-9 {
  width: calc(100% * (7 / 12));
}

.col-10 {
  width: calc(100% * (10 / 12));
}

.col-11 {
  width: calc(100% * (11 / 12));
}

.col-12 {
  width: calc(100% * (12 / 12));
}

/**/

.offset-1 {
  margin-left: calc(100% * (1 / 12));
}

.offset-2 {
  margin-left: calc(100% * (2 / 12));
}

.offset-3 {
  margin-left: calc(100% * (3 / 12));
}

.offset-4 {
  margin-left: calc(100% * (4 / 12));
}

.offset-5 {
  margin-left: calc(100% * (5 / 12));
}

.offset-6 {
  margin-left: calc(100% * (6 / 12));
}

.offset-7 {
  margin-left: calc(100% * (7 / 12));
}

.offset-8 {
  margin-left: calc(100% * (7 / 12));
}

.offset-9 {
  margin-left: calc(100% * (7 / 12));
}

.offset-10 {
  margin-left: calc(100% * (10 / 12));
}

.offset-11 {
  margin-left: calc(100% * (11 / 12));
}

.offset-12 {
  margin-left: calc(100% * (12 / 12));
}

@media (max-width: 719px) {

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .offset-1,
  .offset-2,
  .offset-3,
  .offset-4,
  .offset-5,
  .offset-6,
  .offset-7,
  .offset-8,
  .offset-9,
  .offset-10,
  .offset-11,
  .offset-12 {
    float: none;
    margin-left: 0;
    max-width: 100%;
    width: inherit;
  }

}
