
.btn {
  background-image: none;
  border: 1px solid transparent;
  border-radius: var(--border-radius-large);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight:400;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn:active,
.btn:focus,
.btn:hover {
  text-decoration: none;
}

.btn-purple {
  color: var(--color-primary);
  background-color: var(--color-white);
  border-color: var(--color-primary);
  transition: all .2s;
}

.btn-purple:active,
.btn-purple:focus,
.btn-purple:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-purple-inv {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-white);
  transition: all .2s;
}

.btn-purple-inv:active,
.btn-purple-inv:focus,
.btn-purple-inv:hover {
  color: var(--color-primary);
  background-color: var(--color-white);
  border-color: var(--color-primary);
}

.cta-btn {
  display: inline-block;
  padding: 4px 30px;
  font-size: 18px;
  line-height: 40px;
  min-width: 140px;
}

.cta-btn.orange {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.cta-btn.orange:active,
.cta-btn.orange:focus,
.cta-btn.orange:hover {
  background-color: var(--color-accent-alt);
  color: var(--color-white);
}

.cta-btn.orange-light {
  background-color: var(--color-self-managed-accent);
  color: var(--color-white);
}

.cta-btn.orange-light:active,
.cta-btn.orange-light:focus,
.cta-btn.orange-light:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.cta-btn.accent {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.cta-btn.accent:active,
.cta-btn.accent:focus,
.cta-btn.accent:hover {
  background-color: var(--color-accent-alt);
}

.cta-btn.ghost {
  border: 1px solid var(--color-white);
  background-color: transparent;
  color: var(--color-white);
}

.cta-btn.ghost:active,
.cta-btn.ghost:focus,
.cta-btn.ghost:hover {
  border-color: var(--color-accent);
  background-color: var(--color-accent);
}

.cta-btn.ghost-orange {
  border: 2px solid var(--color-accent);
  background-color: transparent;
  color: var(--color-accent);
}

.cta-btn.ghost-orange:active,
.cta-btn.ghost-orange:focus,
.cta-btn.ghost-orange:hover {
  border-color: var(--color-accent-alt);
  color: var(--color-accent-alt);
}

.cta-btn.ghost-orange-fill {
  border: 2px solid var(--color-accent);
  background-color: transparent;
  color: var(--color-accent);
}

.cta-btn.ghost-orange-fill:active,
.cta-btn.ghost-orange-fill:focus,
.cta-btn.ghost-orange-fill:hover {
  border-color: var(--color-accent-alt);
  background-color: var(--color-accent-alt);
  color: var(--color-white);
}

.cta-btn.ghost-accent {
  border: 1px solid var(--color-accent);
  background-color: transparent;
  color: var(--color-accent);
}

.cta-btn.ghost-accent:active,
.cta-btn.ghost-accent:focus,
.cta-btn.ghost-accent:hover {
  border-color: var(--color-accent-alt);
  background-color: var(--color-accent);
  color: var(--color-white);
}

.cta-btn.ghost-purple {
  border: 2px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}

.cta-btn.ghost-purple:hover,
.cta-btn.ghost-purple:hover,
.cta-btn.ghost-purple:hover {
  border-color: var(--color-primary-dark);
  color: var(--color-primary-dark);
}

.cta-btn.ghost-primary {
  border: 1px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}

.cta-btn.ghost-primary:active,
.cta-btn.ghost-primary:focus,
.cta-btn.ghost-primary:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.cta-btn.purple {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.cta-btn.purple:active,
.cta-btn.purple:focus,
.cta-btn.purple:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

.cta-btn.purple-reverse {
  border: 1px solid var(--color-white);
  background-color: var(--color-lt-purple-accent);
  color: var(--color-white);
}

.cta-btn.purple-reverse:active,
.cta-btn.purple-reverse:focus,
.cta-btn.purple-reverse:hover {
  border-color: var(--color-lt-purple-accent);
  background-color: var(--color-white);
  color: var(--color-lt-purple-accent);
}

.navbar .btn-nav-cta {
  padding: 4px 10px;
  background-color: var(--color-self-managed-accent);
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
}

.navbar .btn-nav-cta:active,
.navbar .btn-nav-cta:focus,
.navbar .btn-nav-cta:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}
