
#speakerList div {
  display: none;
}

#speakerList ul {
  display: inline-block;
  max-width: 280px;
  vertical-align: top;
}

#speakerList li {
  display: block;
  text-align: center;
}

#speakerList img {
  border-radius: 50%;
  height: 100px;
  overflow: hidden;
  width: 100px;
}
