
#trustedByTextPre {
  opacity: .6;
  text-align: center;
}

#trustedByImages {
  font-size: 0;
  overflow: hidden;
  max-height: 270px;
  /* ^ for mobile screens */
}

#trustedByImages,
#trustedByImages > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#trustedByImages img {
  box-sizing: content-box;
  height: 50px;
  max-width: 110px;
  opacity: .4;
  padding: 20px;
  transition: 0.2s cubic-bezier(0, 0, 0, 1);
}

#trustedByImages a:active img,
#trustedByImages a:focus img,
#trustedByImages a:hover img {
  transform: scale(1.2);
}

.highlight-black #trustedByImages img,
.highlight-purple #trustedByImages img {
  /* https://stackoverflow.com/q/24933430 */
  filter: invert(1);
}
