
#statsCopyPre {
  opacity: .6;
  text-align: center;
}

#statsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#statsList > div {
  display: none;
}

#statsList ul {
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
  flex: 0 0 280px;
  margin: 20px 20px 0px 20px;
  padding: 20px 20px 20px 20px;
  vertical-align: top;
  width: 280px;
}

#statsList li {
  display: block;
  text-align: center;
}

#statsList li:nth-child(1) {
  color: #000000;
}

#statsList li:nth-child(2) {
  color: #000000;
  font-size: 48px;
}

#statsList li:nth-child(3) {
  color: #5d5d5d;
  font-size: 15px;
  line-height: 1.25;
}

#statsList ul img {
  height: 50px;
  max-width: 120px;
}
