
/* HERO, SHARED STYLES */

.heroWrapper .container {
  position: relative;
}

/* HERO, TYPE 1 */

.heroWrapper.type-1 img {
  float: right;
  margin-left: calc(100% / 12);
  width: calc((100% / 12) * 4);
}

.heroWrapper.type-1 .mktoText {
  float: left;
  width: calc((100% / 12) * 7);
}

/* HERO, TYPE 2 */

.heroWrapper.type-2 img {
  border-radius: 8px;
  width: 100%;
}

.heroWrapper.type-2 .mktoText {
  align-content: stretch;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.heroWrapper.type-2 .mktoText * {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

@media (max-width: 719px) {

  .heroWrapper.type-1 img {
    display: none;
  }

  .heroWrapper.type-1 .mktoText {
    float: none;
    margin-left: 0;
    max-width: 100%;
    width: inherit;
  }

}
