
#valueBox {
  text-align: center;
}

#valueBox li {
  display: inline-block;
  margin: 20px 10px 0px 10px;
  max-width: 240px;
  vertical-align: top;
}

#valueBox li img {
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

@media (max-width: 719px) {

  #valueBox li {
    max-width: 180px;
  }

}
