
  .navbar {
    background: var(--color-white);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--navbar-height);
    font-size: .9em;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    transition: var(--transition-primary);
  }

  /* Standard tags */

  .navbar li {
    list-style: none;
    padding: 4px 0;
    margin-top: 0;
  }

  .navbar a {
    color: var(--color-gray);
    border-radius: var(--border-radius-large);
    padding: 0 20px;
  }

  /* Logo side */

  .navbar .navbar-left a {
    padding: 0;
  }

  .navbar .navbar-left img {
    display: inline-block;
    vertical-align: middle;
  }

  .navbar .navbar-left .navbar-brand {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media all and (max-width: 992px) {

    .navbar .navbar-left .navbar-brand .nav-logo {
      height: 30px;
    }

  }

  @media all and (max-width: 992px) {

    .navbar .navbar-left .navbar-brand .wordmark {
      display: none;
    }

  }

  /* Right side */

  .navbar .navbar-right {
    height: 100%;
  }

  .navbar .navbar-right ul {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .navbar .navbar-right ul li {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar .nav-cta-container {
    margin: 0 10px 0 20px;
  }

  @media all and (max-width: 1240px) {

    .navbar .nav-cta-container {
      margin: 0 10px 0 15px;
    }

  }

  @media all and (max-width: 1200px) {

    .navbar {
      padding: 0 20px;
    }

  }
