
.formLayoutSidebar #formColumnLeft {
  float: left;
  width: calc(100% * (7 / 12));
}

.formLayoutSidebar #formColumnRight {
  background: var(--color-gray-super-light);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  float: left;
  margin-bottom: -120px;
  margin-left: calc(100% * (1 / 12));
  padding: 20px;
  position: relative;
  top: -120px;
  width: calc(100% * (4 / 12));
  z-index: 9;
}

.formLayoutSidebar .confirmForm {
  padding: 10px 0;
}

@media (max-width: 719px) {

  .formLayoutSidebar #formColumnLeft,
  .formLayoutSidebar #formColumnRight {
    float: none;
    margin-left: 0;
    margin-bottom: 80px;
    max-width: 100%;
    top: inherit;
    width: inherit;
  }

}
