
.mktoForm[data-styles-ready="true"] {
  visibility: visible;
}

input,
select,
textarea,
fieldset {
  border-radius: var(--border-radius-large);
  border: 1px solid var(--color-gray-medium);
  font-size: 16px;
  padding: 8px 12px;
  background-color: var(--color-white);
}

:root input,
:root select,
:root textarea,
:root fieldset {
  color: var(--color-black333);
}

input:focus,
select:focus,
textarea:focus,
fieldset:focus {
  outline: 0;
  border: 3px solid var(--color-primary);
}

fieldset {
  padding: 20px 30px;
  padding-top: 4px;
}

input[type=checkbox] {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin: 0 2px;
}

select {
  height: 42px;
}

.mktoLabel,
.mktoFieldWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.mktoForm {
  visibility: hidden;
  font-family: inherit;
  font-size: 14px;
  margin: 0 auto;
}

.mktoForm,
.mktoFormRow,
.mktoFieldDescriptor,
.mktoFieldWrap,
.mktoField {
  width: 100%;
}

.mktoForm .mktoFormRow:not(:first-child) .mktoFieldDescriptor,
.mktoForm .mktoFormRow:not(:first-child) fieldset,
.mktoForm .mktoFormRow:not(:first-child) .mktoHtmlText {
  margin-top: 16px;
}

.mktoErrorMsg {
  color: var(--color-red);
  margin: 4px 0;
}

.mktoInvalid {
  border: 1px solid var(--color-red);
}

.mktoButtonRow {
  margin-top: 24px;
}

.mktoButtonRow .mktoButtonWrap button {
  appearance: none;
  border-radius: var(--border-radius-large);
  color: var(--color-white);
  cursor: pointer;
  padding: var(--input-padding);
  background: var(--color-accent);
  min-width: 120px;
  font-size: 16px;
  border: 0;
}

.mktoButtonRow .mktoButtonWrap button:active,
.mktoButtonRow .mktoButtonWrap button:hover,
.mktoButtonRow .mktoButtonWrap button:focus {
  background: var(--color-accent-alt);
}

.mktoLabel {
  font-weight: 600;
  line-height: 2.2em;
  opacity: .67;
}

.mktoForm label {
  opacity: .67;
}

.mktoAsterix,
.mktoRequiredField .mktoAsterix {
  display: none;
}

div[class*="newslettersegment"] label {
  font-weight: 400;
}
