
/* NAVBAR */

.navbar .btn-nav-cta {
  background-color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  color: var(--color-white);
}

.navbar .btn-nav-cta:active,
.navbar .btn-nav-cta:focus,
.navbar .btn-nav-cta:hover {
  background: var(--color-event-blue-dark);
  color: var(--color-white);
}

.navbar .navbar-right ul li a {
  color: var(--color-event-blue-dark);
}

.navbar.navbar-purple {
  background-color: var(--color-primary);
  box-shadow: none;
}

.navbar-purple .btn-nav-cta,
.navbar-purple .btn-nav-cta:active,
.navbar-purple .btn-nav-cta:focus,
.navbar-purple .btn-nav-cta:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  color: var(--color-primary);
}

.navbar-purple .navbar-right ul li a {
  color: var(--color-primary);
}

/* FORM PLACEHOLDERS */

.mktoForm {
  visibility: visible;
}

.firstname label,
.lastname label,
.title label,
.email label,
.company label {
  display: none;
}

/* SECTION STRIPING */

.container {
  padding: 100px 15px 75px 15px;
}

div[class*="highlight"]:nth-of-type(1) .container {
  padding-bottom: 50px;
  padding-top: 50px;
}

div[class*="highlight"]:nth-of-type(2) .container {
  padding-top: 100px;
}

.highlight-black {
  background-color: var(--color-event-black);
}

.highlight-black,
.highlight-black *,
.highlight-black a:active,
.highlight-black a:focus,
.highlight-black a:hover {
  color: var(--color-white);
}

.highlight-gray {
  background: var(--color-gray-extra-light);
}

.highlight-gray,
.highlight-gray *,
.highlight-gray a:active,
.highlight-gray a:focus,
.highlight-gray a:hover {
  color: var(--color-black333);
}

.highlight-purple {
  background-color: var(--color-primary);
}

.highlight-purple,
.highlight-purple *,
.highlight-purple a:active,
.highlight-purple a:focus,
.highlight-purple a:hover {
  color: var(--color-white);
}

.highlight-white {
  background-color: var(--color-white);
}

.highlight-white,
.highlight-white *,
.highlight-white a:active,
.highlight-white a:focus,
.highlight-white a:hover {
  color: var(--color-black333);
}

div[class*="highlight"] {
  position: relative;
}

div[class*="highlight"]:before {
  content: "";
  display: block;
  height: 35px;
  position: absolute;
  top: -35px;
  width: 100%;
  z-index: -1;
}

div[class*="highlight"]:after {
  bottom: -35px;
  content: "";
  display: block;
  height: 35px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

div[class*="highlight"].flattop:before {
  display: none;
}

div[class*="highlight"].flatbottom:after {
  display: none;
}

.highlight-black:before {
  background-image: linear-gradient(to right top, var(--color-event-black) 0%, var(--color-event-black) 48%, transparent 50%);
}

.highlight-black:after {
  background-image: linear-gradient(to left bottom, var(--color-event-black) 0%, var(--color-event-black) 48%, transparent 50%);
}

.highlight-gray:before {
  background-image: linear-gradient(to right top, var(--color-gray-extra-light) 0%, var(--color-gray-extra-light) 48%, transparent 50%);
}

.highlight-gray:after {
  background-image: linear-gradient(to left bottom, var(--color-gray-extra-light) 0%, var(--color-gray-extra-light) 48%, transparent 50%);
}

.highlight-purple:before {
  background-image: linear-gradient(to right top, var(--color-primary) 0%, var(--color-primary) 48%, transparent 50%);
}

.highlight-purple:after {
  background-image: linear-gradient(to left bottom, var(--color-primary) 0%, var(--color-primary) 48%, transparent 50%);
}

.highlight-white:before {
  background-image: linear-gradient(to right top, var(--color-white) 0%, var(--color-white) 48%, transparent 50%);
}

.highlight-white:after {
  background-image: linear-gradient(to left bottom, var(--color-white) 0%, var(--color-white) 48%, transparent 50%);
}
