
/******************************
Variables - Please keep in alphabetical order
******************************/

:root {
  /* Animations */
  --transition-primary: .2s cubic-bezier(0, 0, 0, 1);
  /* Colors */
  --color-accent: #e65328;
  --color-accent-alt: #c93d2b;
  --color-black333: #333333;
  --color-event-black: #222222;
  --color-event-blue-dark: #14125b;
  --color-gray: #828282;
  --color-gray-medium: #dddddd;
  --color-gray-extra-light: #e7e7e7;
  --color-gray-super-light: #f9f9f9;
  --color-lt-purple-accent: #3c257b;
  --color-primary:#554488;
  --color-primary-dark: #4a3b77;
  --color-red: #f00f00;
  --color-self-managed-accent: #fa7035;
  --color-white: #ffffff;
  /* Dimensions */
  --border-radius-large: 4px;
  --navbar-height: 58px;
  --input-padding: 12px 18px;
  /* Other */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}
